@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}


@media only screen and (max-width: 992px) {
    .container{
      display: block;
    }


    .img-bg{
      display: none !important;
    }

    .form_container{
      width: 100% !important;
    }
      
}



.container{
    width: 100%;
    height: 100%;
    background: #DEDEDE;
    display: flex;
    flex-direction: row;
}

.img-bg{
  width: 48%;
  height: 100%;
  background: white;
  background-image: url("../images/vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.img-bg img{
  height: 759px;
  width: 441px;
  margin: auto;
}


.form_container{
        width: 52%;
        height: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
}


.card{
    display: block;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px !important;
    background-color: #fff;
        width: 437px;
        height: 500px;
        border-radius: 12px;
        padding: 16px;
        padding-bottom: 24px;
        margin: 100px auto;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }


.card img{
    width: 300px;
    height: 114px;
}

.form_container form{
  padding: 0 24px;
  width: 100%;
}

.form_container form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 48px;
  margin-top: 50px;
  background-color: #243773;
  border: 2px solid #243773;
  color: #FFFFFF;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer
}


.mui-textfield input{
  border-width: 1px !important;
}


  