{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="document-title-font">
            <td class="center-text">
                <h1>Disbursement</h1>
            </td>
        </tr>

        <tr class="pd-bottom-20">
            <td class="document-head-blue">
                <h3 class="center-text document-head-font">{{ car }}</h3>
                <p class="center-text document-head-font-2">Disbursement</p>
            </td>
        </tr>

        <tr class="separate-tr-20"></tr>

        <tr>
            <td class="document-head-green">
                <h3 class="center-text document-head-font">{{ amount }}</h3>
                <p class="center-text document-head-font-2">Disbursed</p>
            </td>
        </tr>

        <tr>
            <td class="pd-top-25">
                 <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td>Traded Amount</td>
                            <td class="right-text"><strong>{{amount }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Number of Traded Slot</td>
                            <td class="right-text"><strong>{{slot_quantity }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                         <tr>
                            <td>Trade start Date</td>
                            <td class="right-text"><strong>{{ trade_start_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Trade completion Date</td>
                            <td class="right-text"><strong>{{ trade_completion_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Trade Duration</td>
                            <td class="right-text"><strong>{{duration }} days</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Disbursed to</td>
                            <td class="right-text"><strong> Wallet</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Disbursement Date</td>
                            <td class="right-text"><strong>{{ disbursement_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
