body {
    margin: 0;
}

img {
    border: 0;
}

ul {
    list-style: none;
}
table {
    border-spacing: 0;
}

td {
    padding: 0;
}

footer {
    align-content: center;
    margin: 0;
}

footer article {

}
