{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1> Hi, {{ profile.firstname }} </h1>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <p>
                                    There was a request to reset your carpadi password.
                                    <br><br>
                                    Please click the button below to reset your password.
                                    If you did not send the request to reset your passrod, please disregard or reach out to us <a href="mailto:info@carpadi.com">info@carpadi.com</a>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a href="{{ domain }}" class="more">Reset Password</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
