{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1> Hi, {{ username }} </h1>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <p>
                                    There was a request to reset your carpadi password, for this email account <strong>{{ email }}exmple@gmail.com</strong>.
                                    <br><br>
                                    please use the token {{ token }}**** to reset your password. <br><br>
                                    If you did not send the request to reset your password, please disregard.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
