{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1>Share Purchase receipt </h1>
            </td>
        </tr>

        <tr>
            <td style="background-color: #E7F4FB">
                <h3 class="center"><strong>N {{ purchase_amount }}</strong></h3>
                <p class="center">purchase amount</p>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <table  width="100%" class="mg-bottom-15">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Purchase Amount</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ amount }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Number of Slot(s) Bought</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{number_of_slot }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Purchase Date</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ date }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Trading Vehicle</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ vehicle }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
