
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        Carpadi Email Notification System
    </title>
    <link rel="stylesheet" href="./main.css"/>
</head>
<body>
        <table width="100%" class="main-table">
            <tr class="carpadi-logo">
                <td>
                    <a href="#">
                        <img src="carpadi logo" alt="carpadi logo" title="carpadi logo"/>
                    </a>
                </td>
            </tr>

            <tr class="greeting">
                <td>
                    <h1> Hi, Joseph Daniel  </h1>
                </td>
            </tr>

            <tr class="summarry, mg-bottom-10">
                <td>
                    <table>
                        <tr class="mg-bottom-10">
                            <td>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque. Nulla viverra sit feugiat
                                    volutpat in eros diam quam sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque.
                                    Nulla viverra sit feugiat volutpat in eros diam quam sed.
                                </p>
                            </td>
                        </tr>

                        <tr class="mg-bottom-10">
                            <td>
                                <a href="link" class="more">Read more</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <img src="" alt="" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>
                                    Fermentum ipsum justo amet, pellentesque natoque felis. Nisl, enim purus ultrices molestie nunc odio. Non pharetra quam morbi elementum porttitor neque id ornare turpis. Fusce nunc dui arcu placerat est. Integer malesuada id eu viverra morbi in. Vitae quam senectus nibh cursus.

                                    Morbi potenti donec ornare amet eu iaculis neque tristique vitae. Aliquam euismod risus euismod neque, feugiat ut. Amet, aliquam vulputate lectus ut commodo. Augue nisi, etiam tortor sapien, sed parturient. Enim condimentum egestas rhoncus tincidunt senectus phasellus tempor at non. Ultricies scelerisque felis dignissim proin quis amet diam. Maecenas pulvinar quisque viverra magnis. A condimentum augue sed odio a. Non rhoncus ut urna nulla cursus dui dui. Ullamcorper mollis eget at nulla.

                                    Arcu enim lacus, integer in non senectus lacinia diam sagittis. Lectus maecenas hendrerit nunc sit sollicitudin et.
                                    Nunc dolor netus blandit tellus eget sed nisl. Sed congue velit consequat diam. Id eu amet, lobortis malesuada enim, erat donec. At magna dolor tristique vel mattis purus sollicitudin cras velit mi.

                                    Cheers
                                    The Millala Team
                                </p>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>

            <tr class="appstore center">
                <td>
                    <table class="horizontal-line pd-bottom-15 pd-top-15" width="100%">
                        <tr class="display-inline mg-right-20">
                            <td>
                                <a href="https://www.apple.com/us/search/carpadi?src=globalnav">
                                    <table>
                                        <tr>
                                            <td class="mg-right-10">
                                                <img src="./assets/apple-black.svg" width="35"/>
                                            </td>
                                            <td class="mg-left-10">
                                                <span style="margin: auto 0">Apple Store</span>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>

                        <tr class="display-inline">
                            <td>
                                <a href="https://play.google.com/store/search?q=carpadi&c=apps&hl=en&gl=US">
                                    <table>
                                        <tr>
                                            <td class="mg-right-10">
                                                <img src="./assets/playstore.svg" width="35" />
                                            </td>
                                            <td class="mg-left-10">
                                                <span>Google Play</span>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="social-media center">
                <td>
                    <table class="center horizontal-line pd-bottom-15 pd-top-15" width="100%">
                        <tr class="display-inline">
                            <td>
                                <a href="#" class="facebook">
                                    <span></span>
                                 </a>
                            </td>
                        </tr>

                         <tr class="display-inline">
                            <td>
                                <a href="#" class="instagram">
                                    <span></span>
                                </a>
                            </td>
                        </tr>

                         <tr class="display-inline">
                            <td >
                                <a href="#" class="twitter">
                                    <span></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="foot-note center" >
                <td>
                    <table class="horizontal-line pd-bottom-15 pd-top-15" width="100%">
                         <tr class="copyright">
                             <td>
                                 <p>
                                    Copyright &copy <script>document.write(new Date().getFullYear())</script> Carpadi Investements Limited. All rights reserved.
                                </p>
                             </td>
                        </tr>

                        <tr>
                             <td>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque. Nulla viverra sit feugiat
                                    volutpat in eros diam quam sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque.
                                    Nulla viverra sit feugiat volutpat in eros diam quam sed.
                                </p>
                             </td>
                        </tr>

                         <tr class="display-inline">
                            <td>
                                <table class="foot-links center">
                                <tr class="display-inline">
                                    <td>
                                        <a href="#">
                                            <span>Privacy Policy</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr class="display-inline">
                                    <td>
                                        <a href="#">
                                            <span>Terms of service</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr class="display-inline">
                                    <td>
                                        <a href="#">
                                            <span>Help Center</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr class="display-inline">
                                    <td>
                                        <a href="#">
                                            <span>Unsubscribe</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</body>
</html>