
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        Carpadi Email Notification System
    </title>
    <link rel="text/stylesheet" src="./main.css"/>
</head>
<body>
<header>
<img src="carpadi logo" alt="carpadi logo"/>
</header>
<section>
    <h2>
        Hi, Joseph Daniel
    </h2>
    <article>
        <p>
            description summary
        </p>
    <a href="link">Read more</a>
    </article>
    <article>
        <img src="image" alt="main image probably of a car">
        <p>
            main content write up
        </p>
    </article>
</section>

<footer>
    <article>
        <ul>
{#            apple store and playstore link#}
            <li>
                <a href="https://www.apple.com/us/search/carpadi?src=globalnav">
                    <img src="./assets/apple-black.svg" />
                    <span>Apple Store</span>

                </a>
            </li>
            <li>
                <a href="https://play.google.com/store/search?q=carpadi&c=apps&hl=en&gl=US">
                    <img src="./assets/playstore.svg" />
                    <span>Google Play</span>

                </a>
            </li>
        </ul>
    </article>

    <article>
        <ul>
{#           social mwdia link#}
            <li>
                <a href="wqw">
                    <span>facebook logo</span>
                    <img src="./assets/facebook.svg" />
                </a>
            </li>
            <li>
                <a href="wqw">
                    <span>instagram logo</span>
                    <img src="./assets/instagram.svg" />
                </a>
            </li>
            <li>
                <a href="wqw">
                    <span>twitter logo</span>
                    <img src="./assets/twitter.svg" />
                </a>
            </li>
        </ul>
    </article>
    <article>
        <p>
            &copy Carpadi Limited. All rights reserved
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque. Nulla viverra sit feugiat
            volutpat in eros diam quam sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nisl, viverra potenti sem vel nam eros neque.
            Nulla viverra sit feugiat volutpat in eros diam quam sed.
        </p>

        <ul>
            <li>
                <a href="wqw">
                    <span>Privacy Policy</span>
                </a>
            </li>
            <li>
                <a href="wqw">
                    <span>Terms of service</span>
                </a>
            </li>
            <li>
                <a href="wqw">
                    <span>Help Center</span>
                </a>
            </li>
             <li>
                <a href="wqw">
                    <span>Unsubscribe</span>
                </a>
            </li>
        </ul>
    </article>
</footer>
</body>
</html>