{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1>Trade Cancelled Successfully</h1>
            </td>
        </tr>

        <tr>
            <td style="background-color: #243773">
                <h3 class="center"><strong>N {{ vehicle }}</strong></h3>
                <p class="center">trade cancelled</p>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <table  width="100%" class="mg-bottom-15">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Traded Amount</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{amount }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Number of Traded Slot</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{number_of_slot }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Trade start Date</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ trade_start_date }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Trade cancellation Date</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ trade_cancellation_date }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Trade Duration</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{duration }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Disbursed to</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ disbursed_to }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Disbursement Date</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ disbursement_date }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
