{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="document-head-font">
            <td class="center-text pd-bottom-20">
                <h1>Trade Completion</h1>
            </td>
        </tr>

        <tr class="pd-bottom-20">
            <td class="document-head-blue">
                <h3 class="center-text document-head-font">{{ vehicle }}BMW X7</h3>
                <p class="center-text document-head-font-2">Trade Completed</p>
            </td>
        </tr>

        <tr class="separate-tr-20"></tr>

        <tr>
            <td class="document-head-green">
                <h3 class="center-text document-head-font">N13,000{{ amount }}</h3>
                <p class="center-text document-head-font-2">Return on Trade - ROT</p>
            </td>
        </tr>

        <tr>
            <td class="pd-top-25">
                 <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td>Traded Amount</td>
                            <td class="right-text"><strong>50,000{{amount }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Number of Traded Slot</td>
                            <td class="right-text"><strong>3{{number_of_slot }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                         <tr>
                            <td>Trade start Date</td>
                            <td class="right-text"><strong>25-12-2022{{ trade_start_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Trade completion Date</td>
                            <td class="right-text"><strong>25-12-2022{{ trade_completion_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Trade Duration</td>
                            <td class="right-text"><strong>6 weeks{{duration }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Disbursed to</td>
                            <td class="right-text"><strong> Wallet{{ disbursed_to }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Disbursement Date</td>
                            <td class="right-text"><strong>25-12-2022{{ disbursement_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
