{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1> Hi, {{ username }} </h1>
                <h2> Welcome to Carpadi</h2>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <p>
                                    Thank you for joining Carpadi Investments, your profile informations are:
                                    <table  width="100%" class="mg-bottom-15">
                                        <tbody>
                                        <tr>
                                            <td colspan="2">Full Name:</td>
                                            <td colspan="1"></td>
                                            <td colspan="2">{{ profile.firstname }} {{ profile.lastname }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Mobile:</td>
                                            <td colspan="1"></td>
                                            <td colspan="2">{{ profile.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Email:</td>
                                            <td colspan="1"></td>
                                            <td colspan="2">{{ profile.email }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                     <br><br>
                                    <span style="color: black">Cheers,</span>
                                    <br><br>
                                    <span style="color: black">The Customer Success Team</span>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a href="{{ domain }}" class="more">Start Investing</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
