{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="greeting">
            <td class="pd-top-10">
                <h1>Wallet Withdrawal Receipt </h1>
            </td>
        </tr>

        <tr>
            <td style="background-color: #E7F4FB">
                <h3 class="center"><strong>N {{ amount }}</strong></h3>
                <p class="center">Withdrawn amount</p>
            </td>
        </tr>

        <tr>
            <td>
                <table class="message">
                    <tbody>
                        <tr class="mg-bottom-10">
                            <td>
                                <table  width="100%" class="mg-bottom-15">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Withdrawal Type</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{withdrawal_type }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Withdrawal Date</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ date }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Ref. number</td>
                                            <td colspan="1"></td>
                                            <td colspan="2"><strong>{{ reference_number }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
