{%  extends "emails/base_mail.html" %}

{% block email_content %}
<table>
    <tbody>
        <tr class="document-title-font">
            <td class="center-text">
                <h1>Wallet Withdrawal Receipt</h1>
            </td>
        </tr>

        <tr class="separate-tr-20"></tr>

        <tr>
            <td class="document-head-faded-green">
                <h3 class="center-text document-head-font">N13,000{{ amount }}</h3>
                <p class="center-text document-head-font-2">Withdrawn Amount</p>
            </td>
        </tr>

        <tr>
            <td class="pd-top-25">
                 <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td>Withdrawal Type</td>
                            <td class="right-text"><strong>Bank Transfer{{ withdrawal_type }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                         <tr>
                            <td>Withdrawal Date</td>
                            <td class="right-text"><strong>25-12-2022{{ withdrawal_date }}</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                        <tr class="separate-tr-20">
                            <td class="horizontal-line"><td class="horizontal-line">
                        </tr>

                        <tr>
                            <td>Ref Number</td>
                            <td class="right-text"><strong>{{ ref_num }}POI0992920N99XM</strong></td>
                        </tr>
                        <tr class="separate-tr-20"></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
